.myModal-button {
  border: none;
  background-color: rgb(248, 248, 248);
}

.myModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  &-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    color: white;
    border: none;
    padding: 12px 0px;
    margin-top: 30px;
  }
  &-gender {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &-colour {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &-description {
    &-wrapper {
      font-style: italic;
      list-style-type: none;
      padding-left: 10px;
      margin: 0;
    }
  }
  &-cost {
    font-size: 25px;
    margin-top: 15px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
  &-name {
    font-size: 25px;
    margin-bottom: 15px;
  }
  &-image {
    margin-top: 100px;
    height: 300px;
    width: 300px;
  }
  &-wrapper {
    display: flex;
    align-items: flex-start;
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
  }
}

.addToCart-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 700px;
  height: 500px;
  &-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    &-icon {
      color: rgb(47, 148, 47);
    }
    &-text {
      margin-top: 50px;
      font-size: 30px;
    }
  }
  &-button {
    margin-bottom: 70px;
  &-continue {
    margin-right: 10px;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #666;
    color: white;
  }
  &-checkout {
    margin-left: 10px;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #666;
    color: white;
  }
}
}