.myModal-button {
  border: none;
  background-color: rgb(248, 248, 248);
}

.myModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  &-gender {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &-colour {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &-description {
    &-wrapper {
      padding-left: 25px;
      margin: 0;
    }
  }
  &-cost {
    font-size: 25px;
    margin-top: 15px;
  }
  &-info {
    margin-top: 25px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  &-name {
    font-size: 25px;
    margin-bottom: 15px;
  }
  &-image {
    margin-top: 100px;
    height: 300px;
    width: 300px;
  }
  &-wrapper {
    display: flex;
    align-items: flex-start;
    width: 660px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
  }
}
