@import '../../../styles/utils.scss';

.storeFinder {
  display: flex;
  justify-content: space-between;
  width: 250px;
  &-vertical-divider {
    @include vertical-divider;
    margin: 12px 5px;
    background-color: rgb(199, 199, 199);
    box-shadow: none;
  }
}

.storeFinder-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.storeFinder-infoDetail {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 130px;
  color: rgb(199, 199, 199);
}

.storeFinder-deliveryWrapper {
  display: flex;
  padding: 11px 3px;
  color: rgb(199, 199, 199);
}

.storeFinder-deliveryContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.storeFinder-location {
  font-weight: 600;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  color: rgb(199, 199, 199);
}

.open-text {
  font-size: 15px;
  font-weight: 600;
  color: #eee;
}

.open-icon {
  color: #eee;
}

.open-time {
  color: rgb(199, 199, 199);
}

.location-icon {
  margin-bottom: 15px;
  color: rgb(199, 199, 199);
}
