@import '../../../styles/utils.scss';

.cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  width: 125px;

  &-vertical-divider {
    @include vertical-divider;
    height: 20px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: none;
  }
}

.cart:hover {
  transition: all 0.2s ease-in-out;
  background-color: #666;
}

.cart-line {
  font-weight: 900;
}

.cart-text {
  font-weight: 600;
}
