.dd-header {
  margin: 5px 0;
  &-wrapper {
    :hover {
      transition: all 0.2s ease-in-out;
      color: #0770cf;
    }
  }
  font-size: 14px;
  display: flex;
  width: 250px;
  height: 30px;
  color: #666;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  align-items: center;
  &__title {
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  &__action {
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
}
