.favourites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  width: 100px;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #666;
  }
  &-container {
    display: flex;
    text-decoration: none;
  }
}

.favourites-heart {
  margin-left: 5px;
}

.favourites-text {
  font-weight: 550;
}
