.favourites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  border-left: 1px solid rgb(0, 0, 0, 0.5);
  border-right: 1px solid rgb(0, 0, 0, 0.5);
  width: 100px;
}

.favourites:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgb(0, 0, 0, 0.1);
}

.favourites-star {
  color: rgb(255, 145, 0);
}

.favourites-text {
  font-weight: 550;
}
