@import '../../../styles/utils.scss';

.cartItems {
  display: flex;
  margin-bottom: 30px;
  &-cost {
    display: flex;
    font-size: 30px;
    align-items: center;
  }
  &-container {
    display: flex;
    flex-direction: column;
    &-cost {
      font-size: 30px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 50px;
    &-delivery {
      margin-bottom: 40px;
    }
    &-name {
      font-size: 30px;
      margin-bottom: 30px;
    }
    &-options {
      display:flex;
      font-size: 20px;
      &-remove {
        &-modal {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 500px;
          height: 200px;
          background-color: white;
          border: none;
          &-text {
            display: flex;
            margin-bottom: 50px;
            font-size: 20px;
          }
          &-button {
            &-no {
              width: 200px;
              height: 50px;
              border: none;
              background-color: #666;
              color: white;
              margin-bottom: 20px;
              margin-right: 5px;
            }
           &-yes {
            width: 200px;
            height: 50px;
            border: none;
            background-color: #666;
            color: white;
            margin-bottom: 20px;
            margin-left: 5px;
           }
          }
          &-container {
            display: flex;
            justify-content: center;
            margin-top: 200px;
          }
        }
      }
      &-favourite {
        &-icon {
          margin-right: 10px;
        }
      }
    }
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-image {
      transform: scale(0.8);
    }
    &-quantity {
      display: flex;
      justify-content: center;
      border: 1px solid black;
      width: 250px;
    }
  }
}

.vertical-divider {
  @include vertical-divider;
  margin: 0px 20px;
  background-color: #666;
  box-shadow: none;
}