@import '../../../styles/utils.scss';

.cartItems {
  display: flex;
  margin-bottom: 30px;
  &-cost {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
    &-subTotal {
      font-size: 30px;
      &-divider {
        height: 1px;
        width: 140px;
        background-color: #666;
        margin: 10px 0px;
      }
      &-title {
        font-size: 20px;
      }
    }
    &-delivery {
      font-size: 16px;
      color: #666;
      text-align: left;
      margin-bottom: 20px;
    }
    &-quantity {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 50px;
    &-delivery {
      margin-bottom: 40px;
    }
    &-name {
      font-size: 30px;
      margin-bottom: 30px;
    }
    &-options {
      display:flex;
      font-size: 20px;
      &-remove {
        &-modal {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 500px;
          height: 200px;
          background-color: white;
          border: none;
          &-text {
            display: flex;
            margin-bottom: 50px;
            font-size: 20px;
          }
          &-button {
            &-no {
              width: 200px;
              height: 50px;
              border: none;
              background-color: #666;
              color: white;
              margin-bottom: 20px;
              margin-right: 5px;
            }
           &-yes {
            width: 200px;
            height: 50px;
            border: none;
            background-color: #666;
            color: white;
            margin-bottom: 20px;
            margin-left: 5px;
           }
          }
          &-container {
            display: flex;
            justify-content: center;
            margin-top: 200px;
          }
        }
      }
      &-favourite {
        &-icon {
          margin-right: 10px;
        }
      }
    }
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-image {
      width: 400px;
      height: 400px;
    }
    &-quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      width: 100px;
      height: 40px;
      font-size: 25px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-left: 20px;
      &-buttons {
        display: flex;
        flex-direction: column;
        width: 25px;
        :hover {
          background-color: #2d2d2d;
        }
        &-button-up {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: #666;
          color: white;
          height: 21px;
          border-top-right-radius: 10px;
        }
        &-button-down {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: #666;
          color: white;
          height: 21px;
          border-bottom-right-radius: 10px;
        }
      }
      &-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.vertical-divider {
  @include vertical-divider;
  margin: 0px 20px;
  background-color: #666;
  box-shadow: none;
}